

@media screen and (max-width: 1366px) {
	.phinomdigital-absolute {
	    position: absolute;
	    width: 544px;
	    bottom: -103px;
	    right: -40px;
	}

	.easyandsafe-container {
		padding: 0 0 0 75px;
	}

	.downloadnow-block2 {
	    display: flex;
	    justify-content: flex-end;
	    position: relative;
	    width: 60%;
	    padding: 38px 120px 89px 0;
	    text-align: right;
	}
}


@media screen and (max-width: 1300px) {
	.easyandsafe-container {
		padding: 0 0 0 42px;
	}
}

@media screen and (max-width: 1250px){
	.easyandsafe-container {
		padding: 0 0 0 24px;
	}

	.phinomdigital-absolute {
	    position: absolute;
	    width: 544px;
	    bottom: -103px;
	    right: 0px;
	}
}


/* стили для md-устройств */
@media screen and (max-width: 1200px) {
	.easyandsafe-block2 {
	    width: 55%;
	}

	.easyandsafe-block {
	    padding: 100px 0 0 0;
	    width: 45%;
	}
}	


@media screen and (max-width: 1050px) {
	.easyandsafe-title {
	    font-family: 'Manrope-Regular';
	    font-size: 50px;
	    line-height: 58px;
	    color: #FFFFFF;
	}

	.easyandsafe-suptitle {
	    padding: 8px 0 0 0;
	    font-family: 'Manrope-Regular';
	    font-size: 20px;
	    line-height: 32px;
	    color: #FFFFFF;
	}

	.asyandsafe-social-link a img {
		width: 32px;
		margin: 0 8px 0 0;
	}

	.asyandsafe-social-link a {
	    border: 1.5px solid rgba(255, 255, 255, 0.5);
	    border-radius: 8px;
	    display: flex;
	    align-items: center;
	    width: 148px;
	    padding: 8px 0 8px 8px;
	    font-family: 'Manrope-Regular';
	    text-decoration: none;
	    font-size: 16px;
	    line-height: 32px;
	    color: #FFFFFF;
	}

	.asyandsafe-social-link2 a img {
		width: 29px;
		margin: 0 8px 0 0;
	}

	.asyandsafe-social-link2 a {
	    border: 1.5px solid rgba(255, 255, 255, 0.5);
	    border-radius: 8px;
	    display: flex;
	    align-items: center;
	    width: 148px;
	    padding: 8px 0 8px 8px;
	    font-family: 'Manrope-Regular';
	    text-decoration: none;
	    font-size: 16px;
	    line-height: 32px;
	    color: #FFFFFF;
	}

	.asyandsafe-social-title {
	    font-family: 'Manrope-ExtraBold';
	    font-size: 24px;
	    line-height: 32px;
	    color: #FFFFFF;
	}

	.easyandsafe-block {
	    padding: 100px 0 0 0;
	    width: 40%;
	}

	.easyandsafe-block2 {
	    width: 60%;
	}

	.phinomdigital-img img {
	    width: 192px;
	}

	.phinomdigital-absolute-absolute img {
		width: 58px;
	}

	.phinomdigital-absolute-absolute {
		width: 143px;
		height: 143px;
		left: -65px;
	}

	.phinomdigital-absolute-absolute2 img {
		width: 79px;
	}

	.phinomdigital-absolute-absolute2 {
		width: 153px;
		height: 153px;
		left: -81px;
	}

	.phinomdigital-absolute-absolute3 img {
		width: 47px;
	}

	.phinomdigital-absolute-absolute3 {
		width: 47px;
		height: auto;
		top: -17px;
		right: 66px;
	}

	.phinomdigital-absolute-absolute4 img {
		width: 74px;
	}

	.phinomdigital-absolute-absolute4 {
		width: 150px;
		height: 150px;
		right: 0;
	}

	.phinomdigital-absolute-absolute5 img {
		width: 63px;
	}

	.phinomdigital-absolute-absolute5 {
		width: 150px;
		height: 150px;
		bottom: 18px;
		right: 0;
	}

	.phinomdigital-img {
	    position: relative;
	    z-index: 2;
	    margin: 0 0 0 0px;
	}

	.phinomdigital-absolute {
	    position: absolute;
	    width: 250px;
	    bottom: -71px;
	    right: 0px;
	}

	.partners-border {
		padding: 24px 6px 16px 6px;
	}

	.partners-wrap {
		flex-wrap: wrap;
		padding: 0;
	}

	.partners-block {
		padding: 32px 10px 8px 10px;
	}

	.card-block {
		width: 50%;
	}

	.card-block2 {
		width: 50%;
	}

	.card-block3 {
		width: 50%;
	}

	.card-block4 {
		width: 50%;
	}

	.card-block5 {
		width: 50%;
	}

	.card-block6 {
		width: 50%;
	}

	.card-inner2 {
	    padding: 48px 0 0 0;
	    display: flex;
	    align-items: flex-end;
	    justify-content: space-between;
	} 

	.card-inner {
	    padding: 32px 0 0 0;
	    display: flex;
	    align-items: flex-end;
	    justify-content: space-between;
	}

	.leaveyuor-title {
	    font-family: 'Manrope-Regular';
	    font-size: 32px;
	    line-height: 48px;
	    color: #FFFFFF;
	}

	.leaveyuor-link a {
	    font-family: 'Manrope-Regular';
	    text-decoration: none;
	    font-size: 20px;
	    line-height: 32px;
	    color: #FFFFFF;
	    display: block;
	    background: #3A3E4D;
	    border-radius: 12px;
	    width: 200px;
	    padding: 16px 0 16px 24px;
	}

	.leaveyuor-link2 a {
	    font-family: 'Manrope-Regular';
	    text-decoration: none;
	    font-size: 20px;
	    line-height: 32px;
	    color: #FFFFFF;
	    display: block;
	    background: linear-gradient(269.61deg, #08CBD4 0.34%, #007378 99.66%);
	    border-radius: 12px;
	    width: 200px;
	    padding: 16px 0;
	    text-align: center;
	}

	.footer-title {
	    font-family: 'Manrope-Regular';
	    font-size: 16px;
	    line-height: 24px;
	    color: #555B71;
	}

	.footer-link a {
	    font-family: 'Manrope-Regular';
	    text-decoration: none;
	    font-size: 16px;
	    line-height: 24px;
	    color: #FFFFFF;
	}

	.footer-li a {
	    justify-content: flex-end;
	    display: flex;
	    align-items: center;
	    font-family: 'Manrope-Regular';
	    text-decoration: none;
	    font-size: 16px;
	    line-height: 24px;
	    color: #555B71;
	}

	.footer-social {
	    padding: 0 0 0 30px;
	}

  
}


/* стили для sm-устройств */
@media screen and (max-width: 1024px) {
	
  
}

/* стили для sm-устройств */
@media screen and (max-width: 992px) {
	.easyandsafe-absolute {
	    position: absolute;
	    bottom: 103px;
	    left: 20%;
	}
}


@media screen and (max-width: 900px) {
	


}


/* Ipad*/ 
@media screen and (max-width: 768px) {
	.easyandsafe-wrap {
		flex-wrap: wrap;
	}

	.easyandsafe-block {
		padding: 43px 0 0 0;
		width: 100%;
	}

	.easyandsafe-block2 {
		width: 100%;
	}

	.easyandsafe-img {
		margin: 0 0 0 -14px;
	}

	.easyandsafe-absolute {
	    position: absolute;
	    bottom: 103px;
	    left: 8%;
	}

	.phinomdigital-container {
		padding: 0 8px;
	}

	.phinomdigital-border {
		padding: 24px 16px 96px 16px;
	}

	.phinomdigital-restagle {
		margin: 8px auto 0 auto;
	}

	.phinomdigital-title {
		text-align: center;
	}

	.phinomdigital-absolute {
	    position: absolute;
	    width: 250px;
	    bottom: -230px;
	    right: 0px;
	}

	.pressaboutus {
	    background: url(../images/pressaboutus-bg.png) center 50% no-repeat;
	    padding: 0 0 92px 0;
	    margin: -40px 0 0 0;
	}

	.pressaboutus-block {
		width: 50%;
		padding: 12px 16px;
	}

	.productdescription-block {
		width: 50%;
		padding: 24px 16px 0 16px;
	}

	.downloadnow-wrap {
		flex-wrap: wrap;
	}

	.downloadnow-block {
		padding: 0;
		width: 100%;
	}

	.downloadnow-title {
		text-align: center;
	}

	.downloadnow-restagle {
		margin: 0 auto;
	}

	.downloadnow-social-wrap {
		justify-content: center;
	}

	.downloadnow-block2 {
		width: 100%;
		justify-content: center;
		padding: 38px 0 0 0;
	}

	.easyandsafe-header {
	    padding: 24px 0 5px 0;
	}

	.easyandsafe {
		padding: 0 0 90px 0;
	}

	.phinomdigital {
		margin: 0;
		padding: 0 0 235px 0;
	}

	.pressaboutus {
		margin: 0;
		padding: 0 0 110px;
	}

	.partners {
		padding: 0 0 120px 0;
	}

	.partners:before {
	    position: absolute;
	    content: '';
	    top: 100px;
	    left: 0;
	    right: 0;
	    bottom: 0;
	    background: url(../images/partners-bf.png) 50% 80% no-repeat;
	    background-size: 896px 622px;
	}

	.productdescription {
		margin: 0;
		padding: 0 0 100px 0;
	}

	.card-container {
		padding: 0 8px;
	}

	.card-block {
		width: 100%;
		padding: 12px 0;
	}

	.card-block2 {
		width: 100%;
		padding: 12px 0;
	}

	.card-block3 {
		width: 100%;
		padding: 12px 0;
	}

	.card-block4 {
		width: 100%;
		padding: 12px 0;
	}

	.card-block5 {
		width: 100%;
		padding: 12px 0;
	}

	.card-block6 {
		width: 100%;
		padding: 12px 0;
	}

	.footer-social {
		display: none;
	}

	.footer-social2 {
		width: 100%;
		display: block;
		padding: 16px 0 0 0;
	}

	.footer-wrap {
		flex-wrap: wrap;
	}

	.footer-right {
		width: 100%;
		justify-content: space-between;
		padding: 8px 0 0 0;
	}

	.footer-block {
		padding: 16px 0 0 0;
	}

	.footer-ul {
		width: 100%;
		display: flex;
		justify-content: space-between;
	}

	.card {
		padding: 0 0 108px 0;
	}




}


/* Ipad mini*/ 
@media screen and (max-width: 640px) {
	.easyandsafe-absolute {
		left: 0;
		width: 100%;
		right: 24px;
		padding: 0 24px 0 0;
	}

	.easyandsafe-border {
		width: 100%;
	}

	.easyandsafe-header-link a {
	    font-family: 'Manrope-Regular';
	    text-decoration: none;
	    font-size: 16px;
	    line-height: 32px;
	    display: flex;
	    align-items: center;
	    color: #FFFFFF;
	}

	.easyandsafe-title {
	    font-family: 'Manrope-Regular';
	    font-size: 48px;
	    line-height: 64px;
	    color: #FFFFFF;
	}

	.easyandsafe-social {
		padding: 24px 0 0 0;
	}

	.easyandsafe-suptitle {
		padding: 8px 24px 0 0;
	}

	.phinomdigital-title {
	    font-family: 'Manrope-Regular';
	    font-size: 32px;
	    line-height: 48px;
	    color: #FFFFFF;
	}

	.phinomdigital-restagle {
		width: 56px;
		height: 2px;
	}

	.phinomdigital-suptitle {
	    padding: 32px 0 0 0;
	    font-family: 'Manrope-Regular';
	    font-size: 20px;
	    line-height: 32px;
	    color: #878787;
	}

	.pressaboutus-title {
	    font-family: 'Manrope-Regular';
	    font-size: 32px;
	    line-height: 48px;
	    text-align: center;
	    color: #FFFFFF;
	    padding: 0 0 8px 0;
	}

	.pressaboutus-restagle {
	    background: linear-gradient(90deg, #08CBD4 0%, #007378 100%);
	    border-radius: 2px;
	    width: 56px;
	    height: 2px;
	    margin: 0 auto;
	}

	.pressaboutus-wrap {
		padding: 20px 0 0 0;
	}

	.pressaboutus-block-title {
	    padding: 16px 0 0 0;
	    font-family: 'Manrope-Regular';
	    font-size: 28px;
	    line-height: 40px;
	    color: #FFFFFF;
	}

	.partners-suptitle {
	    padding: 16px 0 0 0;
	    font-family: 'Manrope-Regular';
	    font-size: 20px;
	    line-height: 32px;
	    text-align: center;
	    color: #FFFFFF;
	}

	.partners-block {
		width: 100%;
	}

	.productdescription-title {
	    padding: 8px 0 0 0;
	    font-family: 'Manrope-Regular';
	    font-size: 24px;
	    line-height: 32px;
	    color: #FFFFFF;
	}

	.productdescription-suptitle {
	    padding: 8px 0 0 0;
	    font-family: 'Manrope-Regular';
	    font-size: 16px;
	    line-height: 24px;
	    color: #878787;
	}

	.productdescription-block {
		width: 100%;
	}

	.downloadnow-title {
	    padding: 0 0 8px 0;
	    font-weight: 400;
	    font-size: 24px;
	    line-height: 32px;
	    color: #FFFFFF;
	}

	.downloadnow-title span {
		font-size: 32px;
		line-height: 48px;
	}

	.downloadnow-restagle {
		width: 56px;
		height: 2px;
	}

	.card-title {
	    font-family: 'Manrope-Regular';
	    font-size: 24px;
	    line-height: 32px;
	    color: #FFFFFF;
	}

	.card-suptitle {
	    padding: 16px 0 0 0;
	    font-family: 'Manrope-Regular';
	    font-size: 16px;
	    line-height: 24px;
	    color: #878787;
	}

	.card-img img {
		width: 74px;
	}

	.card-img2 img {
		width: 74px;
	}

	.card-inner {
		padding: 60px 0 0 0;
	}

	.card-inner2 {
		padding: 60px 0 0 0;
	}

	.card-inner3 {
		padding: 60px 0 0 0;
	}

	.leaveyuor-wrap {
		flex-wrap: wrap;
	}

	.leaveyuor-block {
		width: 100%;
		padding: 0;
	}

	.leaveyuor-title {
		text-align: center;
	}

	.leaveyuor-links {
		justify-content: center;
	}

	.leaveyuor-block2 {
		width: 100%;
		text-align: center;
		padding: 32px 0 0 0;
	}

	.downloadnow-img {
	    width: 230px;
	    position: relative;
	}

	.downloadnow-qr {
	    z-index: 1;
	    position: absolute;
	    top: 65px;
	    left: 6px;
	    width: 220px;
	}

	.downloadnow-absolute img {
		width: 58px;
	}

	.downloadnow-absolute {
	    position: absolute;
	    top: 0px;
	    left: -45px;
	    width: 143px;
	    height: 143px;
	    display: flex;
	    justify-content: center;
	    align-items: center;
	}

	.downloadnow-absolute2 img {
		width: 72px;
	}

	.downloadnow-absolute2 {
	    position: absolute;
	    top: 185px;
	    left: -58px;
	    width: 150px;
	    height: 151px;
	    display: flex;
	    justify-content: center;
	    align-items: center;
	}

	.downloadnow-absolute3 img {
		width: 58px;
	}

	.downloadnow-absolute3 {
	    position: absolute;
	    top: 30px;
	    right: -35px;
	    width: 143px;
	    height: 143px;
	    display: flex;
	    justify-content: center;
	    align-items: center;
	}

	.downloadnow-absolute4 img {
		width: 62px;
	}

	.downloadnow-absolute4 {
	    position: absolute;
	    bottom: 70px;
	    right: -35px;
	    width: 145px;
	    height: 145px;
	    display: flex;
	    justify-content: center;
	    align-items: center;
	}

	 /*Burger*/

	  .burger {
	    display: block !important;
	  }

	  .mt-munu-mb .header-navigation-wr {
	    display: block !important;
	  }

	  .easyandsafe-header-link {
	  	display: none;
	  }
}

@media screen and (max-width: 575px) {
  	
}

/* Galaxy S8+*/ 
@media screen and (max-width: 480px) {
  	.pressaboutus-block {
  		width: 100%;
  	}

  	.phinomdigital-suptitle br {
  		display: none;
  	}

  	.footer-right {
  		flex-wrap: wrap;
  	}

  	.footer-block {
  		width: 100%;
  	}

  	.footer-link a br {
  		display: none;
  	}

  	.footer-inner {
  		padding: 32px 0 0 0;
  		flex-wrap: wrap;
  	}

  	.footer-inner-link {
  		width: 100%;
  		text-align: center;
  		padding: 0 0 16px 0;
  	}

  	.leaveyuor-links {
  		flex-wrap: wrap;
  	}

  	.leaveyuor-link {
  		width: 100%;
  	}

  	.leaveyuor-link a {
  		width: 100%;
  	}

  	.leaveyuor-link2 {
  		width: 100%;
  		padding: 16px 0 0 0;
  	}

  	.leaveyuor-link2 a {
  		width: 100%;
  	}

  	.easyandsafe-border-title {
	    font-family: 'Manrope-Regular';
	    font-size: 14px;
	    line-height: 32px;
	    color: #FFFFFF;
	}

	.easyandsafe-absolute {
	    width: auto;
	    left: -16px;
	    right: 8px;
	    padding: 0;
	}
}

/* Galaxy*/ 
@media screen and (max-width: 415px) {
  	
}


/* Iphone 6.7.8 */ 
@media screen and (max-width: 375px) {
	
}

/* Iphone 5.5SE */ 
@media screen and (max-width: 320px) {
	
}